---
import "@styles/global.css";
---

<section class="p-6 text-gray-900">
  <form
    novalidate=""
    action=""
    class="container flex flex-col mx-auto space-y-12"
  >
    <fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm">
      <div class="space-y-2 col-span-full lg:col-span-1">
        <p class="font-medium">Crear colecciones</p>
        <p class="text-xs">
          el nombre de la colección será el nombre visible en el selector de
          colecciones y en los resultados de búsqueda.
        </p>
        <p class="text-xs">
          La visibilidad define si la coleccion puede ser encontrada en la
          búsqueda o no.
        </p>
        <p class="text-xs">
          Las columnas definirán los atributos que se Mostrarán en la tabla.
        </p>
        <p class="text-xs">
          Todos estos valores pueden ser modificados en cualquier momento.
        </p>
      </div>
      <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
        <div class="col-span-full sm:col-span-3">
          <label for="name" class="text-sm">Nombre</label>
          <input
            id="name"
            type="text"
            placeholder="Nombre"
            class="w-full rounded-md focus:ring focus:ring-opacity-75"
          />
        </div>
        <div class="col-span-full sm:col-span-3">
          <label for="visibility" class="text-sm">Visibilidad</label>
          <select
            id="visibility"
            class="w-full rounded-md focus:ring focus:ring-opacity-75"
          >
            <option>Publico</option>
            <option>Privado</option>
            <option>Oculto</option>
          </select>
        </div>
      </div>

      <div class="col-span-full">
        <legend>Columnas de la tabla</legend>
        <span
          id="selectorColumnas"
          class="grid grid-cols-2 lg:grid-cols-3 gap-10"
        >
          <div class="max-w-full overflow-hidden">
            <input type="text" class="columna max-w-full" id="columna1" />
            <label for="columna1">Columna 1</label>
          </div>
          <div class="max-w-full overflow-hidden">
            <input type="text" class="columna max-w-full" id="columna2" />
            <label for="columna2">Columna 2</label>
          </div>
        </span>
        <button
          type="button"
          id="nuevaColumna"
          class="self-center px-8 py-3 rounded bg-gray-300 hover:bg-gray-400"
          >Añadir mas columnas</button
        >
      </div>
    </fieldset>
  </form>
</section>

<div
  id="crearColeccion"
  class="flex items-center justify-center cursor-pointer"
>
  <button
    type="button"
    class="self-center px-8 py-3 font-semibold rounded bg-violet-600 hover:bg-violet-700 text-gray-50"
    >Añadir</button
  >
</div>

<script>
  import { crearDialog } from "@libs/dialog/crearDialog";

  //Defino y inicializo lo necesario

  let boton = document.querySelector("#crearColeccion");
  let nuevaColumna = document.querySelector("#nuevaColumna");
  let selectorColumnas = document.querySelector("#selectorColumnas");
  nuevaColumna?.addEventListener("click", newColumn);
  let contador = 3;
  let collectionName = document.querySelector("#name") as HTMLInputElement;
  let collectionVisibility = document.querySelector(
    "#visibility",
  ) as HTMLInputElement;

  //Esta funcion crea una nueva columna
  function newColumn() {
    let input = document.createElement("input");
    input.id = "columna" + contador;
    input.classList.add("columna", "max-w-full");
    let label = document.createElement("label");
    label.textContent = "Columna " + contador;
    label.htmlFor = "columna" + contador;
    contador++;
    let divContenedor = document.createElement("div");
    divContenedor.classList.add("max-w-full", "overflow-hidden");
    divContenedor.append(input, label);
    selectorColumnas?.append(divContenedor);
  }
  //Esta funcion selecciona toda la informacion y lo manda al servidor

  async function newCollection() {
    let nombre = collectionName.value;
    let main = document.querySelector("main");
    if (main == null) {
      return;
    }
    if (main.dataset == null) {
      return;
    }
    if (main.dataset.cookie == null) {
      return;
    }
    let cookie = main.dataset.cookie;

    let userID = Number(cookie);
    let visibilidad = collectionVisibility.value;

    //Las columnas las guardo en un JSON

    let columnasRaw = selectorColumnas?.querySelectorAll(".columna");
    let columnas = [] as String[];
    for (let iterable of columnasRaw as NodeListOf<HTMLInputElement>) {
      columnas.push(iterable.value);
    }
    let columnasJSON = JSON.stringify(columnas);
    console.log(columnasJSON);

    //Validacion de errores.

    let textoError = "";
    let valido = true;
    if (nombre.trim() == "") {
      valido = false;
      textoError += "\n La coleccion debe de tener un nombre";
    }
    if(nombre.length>100){
      valido=false;
      textoError += "\n el nombre de la colección es demasiado largo";
    }

    if(columnasJSON.length>=1000){
      valido=false;
      textoError += "\n Tienes demasiadas columnas o tienes una columna cuyo nombre es demasiado largo.";
    }

    if (valido) {
      const response = await fetch("/api/newCollection", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name: nombre,
          userID: userID,
          visibility: visibilidad,
          columns: columnasJSON,
        }),
      });
      console.log(response);
      const result = await response.json();
      console.log("Response data:", result);
      if (response.ok) {
        window.location.href = "/c/" + nombre + "-" + result.data.id;
      }
    } else {
      crearDialog(textoError);
    }
  }

  boton?.addEventListener("click", newCollection);
</script>

