---
import "@styles/global.css";
import { obtenerCookie } from "@libs/auth/controlCookies";
let cookie = obtenerCookie(Astro.cookies?.get('sesion'));
---
<header class="p-4 dark:bg-gray-100 dark:text-gray-800">
	<div class="container flex justify-between h-16 mx-auto">
		<!-- <a rel="noopener noreferrer" href="#" aria-label="Back to homepage" class="flex items-center p-2">
			<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 32 32" class="w-8 h-8 dark:text-violet-600">
				<path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
			</svg>
		</a> -->
		<ul class="items-stretch hidden space-x-3 lg:flex">
			<li class="flex">
				<a rel="noopener noreferrer" href="/" class="flex items-center px-4 -mb-1 border-b-2 dark:border- dark:text-violet-600 dark:border-violet-600">Pagina de inicio</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="/seleccion" class="flex items-center px-4 -mb-1 border-b-2 dark:border-">Seleccionar coleccion</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="/buscar" class="flex items-center px-4 -mb-1 border-b-2 dark:border-">Buscar</a>
			</li>
			<li class="flex">
				<a rel="noopener noreferrer" href="/crearProducto" class="flex items-center px-4 -mb-1 border-b-2 dark:border-">Añadir producto</a>
			</li>
		</ul>
		<div class="items-center shrink-0 hidden lg:flex">
			{!cookie &&
				<a href="/login"><button class="self-center px-8 py-3 rounded">Sign in</button></a>
				<a href="/registro"><button class="self-center px-8 py-3 font-semibold rounded dark:bg-violet-600 dark:text-gray-50">Sign up</button></a>
			}
			{cookie &&
				<a href="/logout"><button class="self-center px-8 py-3 rounded">Logout</button></a>
				
			}
		</div>
		<button class="p-4 lg:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6 dark:text-gray-800">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
	</div>
</header>