---
import Layout2 from "@layouts/Layout2.astro";


---

<Layout2>
    <div class="flex flex-col justify-center content-center items-center" > 

        <div class="text-5xl flex justify-center">
            Buscar:
        </div>

        <input id="buscar" type="text" class="w-1/2">

<div class="text-5xl flex justify-center">
            Resultados
        </div>


        <div id="contenedorTarjetas" class="*:border *:border-solid *:border-red-900 grid grid-cols-1 w-1/2 gap-2 ">
            <a class=" w-full">aaaaaaaaaaaaaaa</a>
            <a><div>test2</div></a>
        </div>

    </div>
</Layout2>

<script>

    let contenedor = document.querySelector('#contenedorTarjetas')
    let buscar = document.querySelector('#buscar');
    let textoBuscado = buscar.value;
    buscar?.addEventListener("change", buscarElementos);
    function buscarElementos(){
        console.log(textoBuscado)
        readProduct(textoBuscado)
    }


async function readProduct() {
    textoBuscado = buscar.value;
    const response = await fetch("/api/readProductSearch", {
      method: "POST",
      body: JSON.stringify({
        text: textoBuscado,

      }),
    });
    let resultado = await response.json();
    console.log(resultado.data);

    resultado.data.map((e: any) => {

        console.log(e);
        //creo el enlace
        let a = document.createElement('a')
        a.href = '/p/'+e.name+'-'+e.id;



        //busco donde esta la ocurriencia del texto buscado
        let posicion = e.name.search(textoBuscado);

        //creo un span y le pongo el texto encontrado dentro del span con otro color de texto.
        let span = document.createElement('span');
        span.classList.add('text-red-300');
        span.textContent = textoBuscado;

        let nuevoTexto = e.name.slice(posicion, posicion+textoBuscado.length);
        let parte1 = e.name.slice(0, posicion);
        let parte2 = e.name.slice(posicion+1);

        console.log ('parte1 '+parte1);
        console.log('parte2 '+parte2)

        console.log ("nombre! "+e.name)
        console.log(posicion)
        console.log('textoBuscado! ' + textoBuscado)

        console.log(nuevoTexto);

                //creo varios div con el nombre, con la parte encontrada en rojo
        let entradilla = document.createElement('span');
        let span1 = document.createElement('span')
        let span2 = document.createElement('span')
        let span3 = document.createElement('span')

        entradilla.textContent = 'Nombre: '
        span1.textContent = parte1
        span2.textContent= nuevoTexto;
        span3.textContent = parte2;

        span2.classList.add('text-red-400')
        

        a.append(entradilla, span1, span2, span3);
        contenedor?.append(a);
    })

}

</script>


