---
import Layout from "@layouts/Layout.astro";
const id = Astro.url.searchParams.get("id");
const url = new URL('/api/validateUser', Astro.url);


      const responseCorreo = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: id,
        }),
      });
      console.info(responseCorreo)

---

<Layout>
  <button id="enviar"> enviar</button>
</Layout>

<script>

  let boton = document.querySelector('#enviar');
  boton?.addEventListener("click", mandarCorreo);

async function mandarCorreo(){

  let responseEmail = await fetch("/api/sendEmail", { 
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ email: "gabrielpulidobarrera@gmail.com" }),
  });
  console.log(responseEmail);
}

</script>