---
import Layout from "@layouts/Layout.astro";
import { crearDialog } from "@libs/dialog/crearDialog";
const id = Astro.url.searchParams.get("id");
const url = new URL('/api/validateUser', Astro.url);


      const responseCorreo = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: Number(id),
        }),
      });
      console.info(responseCorreo)


---

<Layout titulo="Confirmar correo">
  { responseCorreo.ok &&
    <p>El registro ha funcionado. Por favor, inicie sesion para acceder a la pagina</p>
  }
  { !responseCorreo.ok &&
    <p>El registo ha fallado</p>
  }
</Layout>
 
<!-- <script>

  let boton = document.querySelector('#enviar');
  boton?.addEventListener("click", mandarCorreo);

async function mandarCorreo(){

  let responseEmail = await fetch("/api/sendEmail", { 
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ email: "gabrielpulidobarrera@gmail.com" }),
  });
  console.log(responseEmail);
}

</script> -->