---
import FormColeccion from "@crearFamilia/FormColeccion.astro";
import Layout from "@layouts/Layout.astro";
import { obtenerCookie } from "@libs/auth/controlCookies";


let cookie = await obtenerCookie(Astro.cookies?.get("sesion"));
---
<!--Prohibo el acceso a la pagina a los no registrado, no miro a quien pertenece la cookie (en este componente), solo si tiene cookie de sesion o no -->
<Layout titulo="Crear coleccion">
  {cookie && <FormColeccion />}
  {
    !cookie && (
      <div class="text-center">
        {" "}
        Debes de estar registrado para poder ver esta pagina.
      </div>
    )
  }
</Layout>
