---

import RegistoFormulario from "@components/registro/RegistoFormulario.astro";
import Layout from "@layouts/Layout.astro";
import { obtenerCookie } from "../libs/auth/controlCookies";
let cookie = await obtenerCookie(Astro.cookies?.get("sesion"));

---

<Layout titulo="Registro">
    {!cookie &&
    <RegistoFormulario></RegistoFormulario>
    }
    {cookie &&
        <div class="text-center">Cierra sesion antes de volver a registrarte.</div>
    }
</Layout>
