---
import Layout2 from '@layouts/Layout2.astro';
import "@styles/global.css";
import { obtenerCookie } from '../libs/auth/controlCookies';

let cookie = await obtenerCookie(Astro.cookies?.get('sesion'));

console.log(cookie)
const url = new URL('/api/readCollections', Astro.url);

 const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        idUsuario: Number(cookie) 
    }),
    })

      let resultado = await response.json();
console.log(resultado)



---

<Layout2>
  {cookie &&
    <div class="grid grid-cols-1 md:grid-cols-3 *:aspect-square gap-20 *:m-20">
        <a href="/crearColeccion" class="border border-dashed flex justify-center items-center text-4xl transition-all duration-150 hover:text-7xl  ">+</a>
        <!-- <div class="border flex justify-center items-center bg-[url(../assets/fondoPlaceholder.png)] transition-all duration-150 grayscale-100 bg-size-[300%] bg-no-repeat hover:bg-size-[400%] hover:grayscale-0">b</div> -->
        {resultado.data.map((iteracion: any) =>(
          <a href={'/s/'+iteracion.name+"-"+iteracion.id+"-"+iteracion.visibility}<div class="border flex justify-center items-center bg-[url(../assets/fondoPlaceholder.png)] transition-all duration-150 grayscale-100 bg-size-[300%] bg-no-repeat hover:bg-size-[400%] hover:grayscale-0"><div class="bg-black/20 p-2">{iteracion.name}</div></div></a>
          
        ))}

    </div>
      }
      {!cookie &&
      <div class="text-center"> Debes de estar registrado para poder ver esta pagina.</div>

      }
</Layout2>
<!--bg-[url(../assets/fondoPlaceholder.png)] -->

