---
import Layout from '@layouts/Layout.astro';
import "@styles/global.css";
import { obtenerCookie } from '../libs/auth/controlCookies';
import { string } from 'astro:schema';

let cookie = await obtenerCookie(Astro.cookies?.get('sesion'));

console.log(cookie)
const url = new URL('/api/readCollections', Astro.url);

 const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        idUsuario: Number(cookie) 
    }),
    })

      let resultado = await response.json();
console.log(resultado)



interface interfazColeccion{
  name: string
  id: string
  visibility: string
}


---
<!--Prohibo el acceso a la pagina a los no registrados, no miro a quien pertenece la cookie (en este componente), solo si tiene cookie de sesion o no -->

<Layout titulo="Seleccion">
  {cookie &&
    <div class="grid grid-cols-1 md:grid-cols-3 *:aspect-square gap-20 *:m-20">
        <a href="/crearColeccion" class="border border-dashed flex justify-center items-center text-4xl transition-all duration-150 hover:text-7xl  ">+</a>
        {resultado.data.map((iteracion: interfazColeccion) =>(
          <a href={'/c/'+iteracion.name+"-"+iteracion.id}<div class="border flex justify-center items-center bg-[url(../assets/fondoSelectorTabla.png)] transition-all duration-150 grayscale-100 bg-size-[100%] bg-no-repeat hover:bg-size-[150%] hover:grayscale-0"><div class="bg-black/20 p-2">{iteracion.name}</div></div></a>
          
        ))}

    </div>
      }
      {!cookie &&
      <div class="text-center"> Debes de estar registrado para poder ver esta pagina.</div>

      }
</Layout>

