---
const { name, id } = Astro.params;
import Layout from "@layouts/Layout.astro";
import GeneralBoton from "@components/general/GeneralBoton.astro";
import { obtenerCookie } from "@libs/auth/controlCookies";
import ProductoInformacion from "@components/producto/ProductoInformacion.astro";

// export async function getStaticPaths() {
// let listaColecciones = [];

// const response = await POST();
// let resultado = await response.json();
// console.log
// resultado.data.map((iteracion: any) =>{
// 	listaColecciones.push({
// 		params: {slug: iteracion.name+'-'+iteracion.id},
// 		props: {name: iteracion.name, id: iteracion.id}});

// })
// return listaColecciones
// }

let cookie = await obtenerCookie(Astro.cookies?.get("sesion"));

console.log("ID PRODUCTO"+ id);
console.log("COOKIE PERSONA "+cookie)
let mostrar = true;

const url = new URL('/api/readProduct', Astro.url);


    const response = await fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id: Number(cookie)
      }),
    });
	let respuesta = await response.json();

	console.log(respuesta.data.visibility)

	if (respuesta.data.visibility == "Privado"){
		if(respuesta.data.userID!=cookie){
			console.log("naynay!")
			mostrar=false
		}
		else{
			console.log("Bieeen!")
		}
	}



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<div class="flex flex-col justify-center">
		<!-- <div class="text-center">
			<div class="text-5xl">
				{name}
			</div>

			<div class="flex">
				<GeneralBoton text="añadir a coleccion" />

			</div>
		</div> -->

		<ProductoInformacion id={id} mostrar={mostrar} />
	</div>
</Layout>
