---
const { name, id } = Astro.params;
import Layout from "@layouts/Layout.astro";
import { obtenerCookie } from "@libs/auth/controlCookies";
import ProductoInformacion from "@producto/ProductoInformacion.astro";



let cookie = await obtenerCookie(Astro.cookies?.get("sesion"));

console.log("ID PRODUCTO"+ id);
console.log("COOKIE PERSONA "+cookie)
let mostrar = true;
let poderEditar = false;
//Reviso los datos del producto para definir si puedes verlo o editarlo.
	const url = new URL('/api/readProduct', Astro.url);
	
	
    const response = await fetch(url, {
		method: "POST",
		headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
		  id: id
		}),
    });
	let respuesta = await response.json();

//Si es privado y no eres el dueño, no te deja verlo, si es privado pero eres el dueño, puedes ver y editarlo, si eres el dueño y es publico/oculto, puedes ver y editarlo también. Si no eres el dueño y es publico/oculto, puedes verlo pero no editarlo.
	if (respuesta.data.visibility == "Privado"){
		if(respuesta.data.userID!=cookie){
			console.log("naynay!")
			mostrar=false
		}
		else{
			console.log("Bieeen!")
		}
}
if (cookie){
	if (respuesta.data.userID == cookie){
		poderEditar = true;
	}
}


console.log("RESPUESTA")
console.log(respuesta.data)

console.log("PODER EDITAR "+poderEditar)
console.log("MOSTRAR "+mostrar)


---

<Layout>
	<div class="flex flex-col justify-center">
		<!--Condicional de astro para ocultar el producoten caso de que no tengas permisos -->
		{ mostrar &&
			<ProductoInformacion id={id} poderEditar={poderEditar} />
		}
		{!mostrar &&
			<div>No tienes permisos para ver este producto.</div>
		}
	</div>
</Layout>
