---
import "../styles/global.css";
import Boton from '@components/Boton.astro';

---
<section class="p-6 dark:text-gray-900">
	<form novalidate="" action="" class="container flex flex-col mx-auto space-y-12">
		<fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm">
			<div class="space-y-2 col-span-full lg:col-span-1">
				<p class="font-medium">Crear colecciones</p>
				<p class="text-xs">El nombre de la coleccion sera el nombre visible en el selector de colecciones y en los resultados de busqueda.</p>
				<p class="text-xs">La visibilidad define si el producto puede ser encontrado en la busqueda o no.</p>
				<p class="text-xs">Las columnas definiran los atributos que se mostraran en la tabla.</p>
                <p class="text-xs">Todos estos valores pueden ser modificados en cualquier momento.</p>
                
			</div>
			<div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
				<div class="col-span-full sm:col-span-3">
					<label for="name" class="text-sm">Name</label>
					<input id="name" type="text" placeholder="Name" class="w-full rounded-md focus:ring focus:ring-opacity-75">
				</div>
				<div class="col-span-full sm:col-span-3">
					<label for="visibility" class="text-sm">Visibility</label>
                    <select id="visibility" class="w-full rounded-md focus:ring focus:ring-opacity-75">
        
                        <option>Publico</option>
                        <option>Privado</option>
                        <option>Oculto</option>
                    </select>
				</div>

				</div>
			</div>
		</fieldset>
	</form>
</section>

<div id="crearColeccion">
    <Boton></Boton>
</div>