---
import "../styles/global.css";
---

<form>
    <fieldset>new family</fieldset>
    <label for="cod">cod</label>
    <input type="text" id="cod" name="cod">
    <label for="name">name</label>
    <input type="text" id="name" name="name">
    <label for="send">enviar</label>
    <input type="button" id="send" name="send">
    <label for="read">leer</label>
    <input type="button" id="read" name="read">
</form>

<script>
    let buttonCreate = document.querySelector('#send')

    buttonCreate?.addEventListener("click", newFamily)
    async function newFamily(){
        alert("funciono!")
        //odio typescript ya que es igual que javascript en el 99% de casos menos en cosas como estas que te quedas flipado
        let cod = (document.querySelector('#cod') as HTMLInputElement).value;
        let name = (document.querySelector('#name') as HTMLInputElement).value;

        const response = await fetch('/api/nueva-familia', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                cod: cod,
                name: name,
            }),
        });
        console.log(response)
         const result = await response.json();
        console.log("Response data:", result);
        alert("Response: " + result.message);
    }


    let buttonRead = document.querySelector('#read')

    buttonRead?.addEventListener("click", readFamily)
    async function readFamily() {
        const response = await fetch('/api/leer-familia', {
            method: 'POST'
        })
    await console.log(await response.json())
    }
</script>