---
import "../styles/global.css";
import { PrismaClient, Prisma } from '../generated/prisma/client'
---

<form>
    <fieldset>new family</fieldset>
    <label for="cod">cod</label>
    <input type="text" id="cod" name="cod">
    <label for="name">name</label>
    <input type="text" id="name" name="name">
    <label for="send">enviar</label>
    <input type="submit" id="send" name="send">
</form>

<script>
    let button = document.querySelector('#send')
    
    button?.addEventListener("click", newFamily)
    async function newFamily(){
        alert("funciono!")
        //odio typescript ya que es igual que javascript en el 99% de casos menos en cosas como estas que te quedas flipado
        let cod = (document.querySelector('#cod') as HTMLInputElement).value;
        let name = (document.querySelector('#name') as HTMLInputElement).value;

        await fetch('/api/nueva-familia', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                cod: cod,
                name: name,
            }),
        });
    }

</script>