---
import "../styles/global.css";


---
<div class="container p-2 mx-auto sm:p-4 dark:text-gray-800">
	<div class="flex justify-between">
	<h2 class="mb-4 text-2xl font-semibold leading-tight" id="collectionTitle"> TITULO ASTRO</h2>
			<button class="self-center px-8 py-3 font-semibold rounded dark:bg-violet-600 dark:text-gray-50 cursor-pointer" id="editar">Edit</button>
			<button class="self-center px-8 py-3 font-semibold rounded dark:bg-violet-600 dark:text-gray-50 cursor-pointer hidden" id="terminar">Finish</button>

	</div>
	<div class="overflow-x-auto">
		<table class="min-w-full text-xs *:text-center">
			<colgroup>

			</colgroup>
			<thead class="dark:bg-gray-300">
				<tr class=" *:p-3">
				</tr>
			</thead>
			<tbody class="*:border-b *:border-opacity-20 *:dark:border-gray-300 *:dark:bg-gray-50 *:p-3">
				<tr class="">
				</tr>

			</tbody>
		</table>
	</div>
</div>


<script>
	// Selectores
	    let tbody = document.querySelector<HTMLElement>('tbody');
	let editar = document.querySelector<HTMLElement>('#editar')
	let terminar = document.querySelector<HTMLElement>('#terminar')
	let titulo = document.querySelector<HTMLElement>('#collectionTitle')
	let thead = document.querySelector<HTMLElement>('thead')
	let id;
	let tituloOriginal = document.querySelector<HTMLElement>('#collectionTitle')?.textContent;
	let columnasOriginal;

readCollecionProduct()
	async function readCollecionProduct() {
		//Leo todos los productos de la coleccion haciendo una api y mandandole la id de la coleccion
	 const response = await fetch("/api/readCollectionProducts", {
      method: "POST",
			body: JSON.stringify({id: 1}),
    });
	    let resultado = await response.json();
	let data = resultado.data
	
	// creo un array para guardar todos los resultados, y recorro los objetos para pillar solo lo que son los id del producto, no el id de la coleccion también

	let arrayProductos = []
	for (let iterable of data){
		arrayProductos.push(iterable.productID);
	}


	// mando ese array para que me devuelva todos esos prodcutos
	 const responseProducts = await fetch("/api/readProduct", {
      method: "POST",
		body: JSON.stringify({ ids: arrayProductos }),
    });
	    let resultadoProduct = await responseProducts.json();
	let dataProduct = resultadoProduct.data


	//por cada producto, lo convierto a un objeto ya que es json originalmente, y luego busco si la categoria existe en la tabla, si ese es el caso, se añade en una nueva fila.

	for (let objetoRaw of dataProduct){
		let objeto = JSON.parse(objetoRaw.columns);
		for (let iterable in objeto){
			if(columnasOriginal.includes(iterable)){
				let posicion = columnasOriginal.indexOf(iterable);
				console.log(posicion)
				
			}
		}

	}

	}	


	async function readProduct() {
		//Leo las colecciones
	if (tbody==null){
		return
	}
		if (tbody.lastElementChild==null){ 
		return
	}
	if (titulo==null){
		return
	}
	if (thead==null){
		return
	}
	if (thead.firstElementChild==null){
		return
	}


    const response = await fetch("/api/readCollections", {
      method: "POST",
    });
    let resultado = await response.json();

	let correcto = resultado.data[0];

	//guardo las columnas en dos tablas, una que se va a editar en el futuro y la otra en la que no

	let columnas = JSON.parse(correcto.columns);
	columnasOriginal = JSON.parse(correcto.columns);
	//acutalizo el titulio
	titulo.textContent=correcto.name
	//creo la cabecera de la tabla
	for (let i of columnas){
		let th = document.createElement('th')
		th.textContent = i;
		thead?.firstElementChild.append(th);
		tbody.firstElementChild?.append(document.createElement('td'));
	}
	id = correcto.id;





  }

  function activarEditar(){

	

	if (editar==null){
		return
	}
	if (terminar==null){
		return
	}
	if (tbody==null){
		return
	}



	//cuando le doy al boton de editar, esdcondo el boton y mostro el de terminar
	editar.style.display="none"
	terminar.style.display="block"

	//creo una nueva fila con tantos td como hay th
	let tr = document.createElement('tr');
	let numeroTD = tbody.lastElementChild?.childElementCount

		if (numeroTD==null){
		return
	}
	for (let i = 0; i < numeroTD; i++){
		let td = document.createElement('td')
		td.textContent="A"
		tr.append(td);
	}
	tbody?.append(tr)


	//selecciono todas las casillas y las hago editales
	let todosTD = document.querySelectorAll('td')
	let todosTH = document.querySelectorAll('th')

	for (let iterable of todosTD){
	  iterable.setAttribute("contenteditable", "true");
	}
	for (let iterable of todosTH){
	  iterable.setAttribute("contenteditable", "true");
	}
	titulo?.setAttribute("contenteditable", "true");
}

  async function terminarEditar(){
	//al terminar de editar guardo la id en un objeto
	let data: any = {id: id};
	let nuevaColumnas = [];
	if (thead==null || thead.firstElementChild==null || thead.firstElementChild.childNodes ==null){
		return
	}
	//recopilo las columnas que actualmetne tenemos
	for (let iterable of thead?.firstElementChild?.childNodes){
		nuevaColumnas.push(iterable.textContent)
	}


	//si son diferentes, se mandan a la API para que se actualice.
	if (JSON.stringify(nuevaColumnas)!=JSON.stringify(columnasOriginal)){
		data.columns = JSON.stringify(nuevaColumnas)
	}

	if (titulo?.textContent!=tituloOriginal){
		data.name = titulo?.textContent
	}
		const response = await fetch("/api/editCollection", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(data),
		});
	
}
	
  readProduct()
  editar?.addEventListener("click", activarEditar);
terminar?.addEventListener("click", terminarEditar);





</script>