---
import { obtenerCookie } from "@libs/auth/controlCookies";
import "@styles/global.css";
const { id, poderEditar } = Astro.props;
---

<section class="p-6 dark:text-gray-900" id={id}>
  <form
    novalidate=""
    action=""
    class="container flex flex-col mx-auto space-y-12"
  >
    <fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm">
      <div class="space-y-2 col-span-full lg:col-span-1">
        <p class="font-medium">Crear colecciones</p>
        <p class="text-xs">
          El nombre del produto sera el nombre visible en el selector de
          colecciones y en los resultados de busqueda.
        </p>
        <p class="text-xs">
          La visibilidad define si el producto puede ser encontrado en la
          busqueda o no.
        </p>
        <p class="text-xs">
          Las columnas definiran los atributos que se mostraran en la tabla.
        </p>
        <p class="text-xs">
          Todos estos valores pueden ser modificados en cualquier momento.
        </p>
      </div>
      <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
        <div class="col-span-full sm:col-span-3">
          <label for="name" class="text-sm">Name</label>
          <input
            id="name"
            type="text"
            placeholder="Name"
            class="w-full rounded-md focus:ring focus:ring-opacity-75"
          />
        </div>
        <div class="col-span-full sm:col-span-3">
          <label for="visibility" class="text-sm">Visibility</label>
          <select
            id="visibility"
            class="w-full rounded-md focus:ring focus:ring-opacity-75"
          >
            <option>Publico</option>
            <option>Privado</option>
            <option>Oculto</option>
          </select>
        </div>
      </div>

      <div class="col-span-full">
        <legend>Columnas de la tabla</legend>
        <span
          id="selectorColumnas"
          class="grid grid-cols-2 lg:grid-cols-3 gap-10"
        >
          <div class="contenedorInputLabel">
            <input type="text" class="columna max-w-full" id="NombreColumna1" />
            <label for="columna1">Nombre columna 1</label>
            <input type="text" class="columna max-w-full" id="ValorColumna1" />
            <label for="columna1">Valor columna 1</label>
          </div>

          <div class="contenedorInputLabel">
            <input type="text" class="columna max-w-full" id="NombreColumna2" />
            <label for="columna2">Nombre columna 2</label>
            <input type="text" class="columna max-w-full" id="ValorColumna2" />
            <label for="columna2">Valor columna 2</label>
          </div>
        </span>
      </div>
      <button
        type="button"
        id="nuevaColumna"
        class="self-center px-8 py-3 rounded bg-gray-300 hover:bg-gray-400 hover:cursor-pointer"
        >Añadir mas columnas</button
      >
    </fieldset>
  </form>
  
  {poderEditar &&
  <div class="flex items-center justify-center cursor-pointer mt-2 ">
    <button id="crearColeccion" class="self-center px-8 py-3 font-semibold rounded dark:bg-violet-600 hover:bg-violet-700 dark:text-gray-50 hover:cursor-pointer hidden">Añadir</button>
    <button id="editarProducto" type="button" class="self-center px-8 py-3 font-semibold rounded dark:bg-violet-600 hover:bg-violet-700 dark:text-gray-50 hover:cursor-pointer" >Editar producto</button>
  </div>
  }
</section>

<script>
  import { crearDialog } from "@libs/dialog/crearDialog";

  //Seleciono lo necesario
  let boton = document.querySelector("#crearColeccion") as HTMLElement;
  let nuevaColumna = document.querySelector("#nuevaColumna");
  let selectorColumnas = document.querySelector("#selectorColumnas");
  nuevaColumna?.addEventListener("click", newColumn);
  let contador = 3;
  let collectionName = document.querySelector("#name") as HTMLInputElement;
  let collectionVisibility = document.querySelector(
    "#visibility",
  ) as HTMLSelectElement;
  let editarProducto = document.querySelector("#editarProducto") as HTMLElement;
  let editando = false;

  //Esta funcion crea una nueva columna
  function newColumn() {
    //Creo el fieldset el primer div, cada div contiene un label y un input.
    let divContenedor = document.createElement("div");
    divContenedor.classList.add(
      "max-w-full",
      "overflow-hidden",
      "contenedorInputLabel",
    );
    let div1 = document.createElement("div");

    //Div del nombre
    let nombreInput = document.createElement("input");
    nombreInput.id = "NombreColumna" + contador;
    nombreInput.classList.add("columna", "max-w-full");
    let nombreLabel = document.createElement("label");
    nombreLabel.textContent = "Nombre columna " + contador;
    nombreLabel.htmlFor = "nombreColumna" + contador;

    div1.append(nombreInput, nombreLabel);
    divContenedor.append(div1);

    let div2 = document.createElement("div");

    //Div del valor
    let valorInput = document.createElement("input");
    valorInput.id = "ValorColumna" + contador;
    valorInput.classList.add("columna");
    let valorLabel = document.createElement("label");
    valorLabel.textContent = "Valor columna " + contador;
    valorLabel.htmlFor = "valorColumna" + contador;

    if (editando == false) {
      valorInput.disabled = true;
      nombreInput.disabled = true;
    }

    div2.append(valorInput, valorLabel);
    divContenedor.append(div2);

    selectorColumnas?.append(divContenedor);

    contador++;
  }

  //Esta funcion selecciona toda la informacion y lo manda al servidor
  async function editProduct() {
    let nombre = collectionName.value;
  let cookie = 0  //No puede haber usuario con ID 0;
    let main = document.querySelector("main");
    if (main == null) {
      return;
    }
    if (main.dataset.cookie != null) {
      cookie = Number(main.dataset.cookie);
    }

    let userID = Number(cookie);
    let visibilidad = collectionVisibility.value;

    let columnas: { [key: string]: string } = {};

    let selectorColumnas = document.querySelector("#selectorColumnas");
    let selectorColumnasElementos = selectorColumnas?.querySelectorAll(
      ".contenedorInputLabel",
    );

    if (selectorColumnasElementos == null) {
      console.log("VAMOS A MORIR TODOS");
      return;
    }

    for (
      let contador = 1;
      contador < selectorColumnasElementos?.length + 1;
      contador++
    ) {
      let atributoNombre = document.querySelector("#NombreColumna" + contador);
      let atributoValor = document.querySelector("#ValorColumna" + contador);

      if (atributoNombre == null || atributoValor == null) {
        return;
      }

      let nombre = (atributoNombre as HTMLInputElement).value;
      let valor = (atributoValor as HTMLInputElement).value;

      console.log("#NombreColumna" + contador);
      console.log(nombre);
      console.log(valor);

      if (nombre != null && valor != null) {
        columnas[nombre] = valor;
      }
    }

    console.log(columnas);
    let columnasJSON = JSON.stringify(columnas);

    console.log(columnasJSON);

    const response = await fetch("/api/editProduct", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        id: id,
        name: nombre,
        userID: userID,
        visibility: visibilidad,
        cookie: cookie,
        columns: columnasJSON,
      }),
    });
    console.log(response);
    const result = await response.json();
    console.log("Response data:", result);

    if (response.ok) {
      crearDialog("Producto creado correctamente");
      deshabilitarCampos();
    }
  }

  boton?.addEventListener("click", editProduct);

  function conseguirID() {
    return document.querySelector("section")?.id;
  }

  let id = conseguirID();

  async function leerProducto() {
    const response = await fetch("/api/readProduct", {
      method: "POST",
      body: JSON.stringify({ id: id }),
    });
    let resultado = await response.json();
    let correcto = resultado.data;
    console.log("RESULTADO!!");
    console.log(resultado.data);
    asignarDatos(correcto);
  }

  async function asignarDatos(datos: any) {
    //Nombre
    console.log(datos.name);
    console.log(datos);

    collectionName.value = datos.name;

    //Visibilidad
    console.log(datos.visibility);

    const todosOptions: HTMLOptionElement[] = Array.from(
      collectionVisibility.options,
    );
    todosOptions.map((e: HTMLOptionElement) => {
      if (e.textContent == datos.visibility) {
        console.log("NYA :3");
        console.log(e);
        e.selected = true;
      }
    });

    //Columnas
    let columnasOriginal = await JSON.parse(datos.columns);
    let contador = 0;
    console.log(columnasOriginal);
    for (let iterable of Object.entries(columnasOriginal)) {
      console.log(contador);
      console.log(iterable);
      console.log(document.querySelector("#NombreColumna1"));

      if (!selectorColumnas?.children[contador]) {
        console.log("NYAAAAA NEW COLUMN");
        newColumn();
      }

      let contadorAcelerado = contador + 1;

      let nombre = document.querySelector(
        "#NombreColumna" + contadorAcelerado,
      ) as HTMLInputElement;
      let valor = document.querySelector(
        "#ValorColumna" + contadorAcelerado,
      ) as HTMLInputElement;

      console.log(nombre);
      console.log(valor);

      if (nombre == null) {
        return;
      }
      if (valor == null) {
        return;
      }

      nombre.value = iterable[0];
      valor.value = iterable[1] as string;

      console.log(nombre);
      console.log(valor);

      contador += 1;
    }
  }

  leerProducto();

  function deshabilitarCampos() {
    editando = false;
    let todosInput = Array.from(document.querySelectorAll("input"));
    let select = document.querySelector("select");

    if (select == null) {
      return;
    }

    

    todosInput.map((e) => {
      e.disabled = true;
    });

    console.log("me ejecuto!");

    select.disabled = true;
    editarProducto.style.display = "block";
    boton.style.display = "none";
  }

  deshabilitarCampos();

  function habilitarCampos() {
    editando = true;
    console.log("holiwissss");
    console.log(boton);
    let todosInput = Array.from(document.querySelectorAll("input"));
    let select = document.querySelector("select");

    if (select == null) {
      return;
    }

    todosInput.map((e) => {
      e.disabled = false;
    });

    console.log("me ejecuto!");

    select.disabled = false;
    editarProducto.style.display = "none";
    boton.style.display = "flex";
  }
  console.log("EDITAR PRODUCTO!!");
  console.log(editarProducto);
  editarProducto?.addEventListener("click", habilitarCampos);
</script>

<!-- TODO: Control de errores!!! -->
