---
import "@styles/global.css";
const { id, poderEditar } = Astro.props;
---

<section class="p-6 text-gray-900" id={id}>
  <form
    novalidate=""
    action=""
    class="container flex flex-col mx-auto space-y-12"
  >
    <fieldset class="grid grid-cols-4 gap-6 p-6 rounded-md shadow-sm">
      <div class="space-y-2 col-span-full lg:col-span-1">
        <p class="font-medium">Crear colecciones</p>
        <p class="text-xs">
          El nombre del producto será el nombre visible en el selector de
          colecciones y en los resultados de búsqueda.
        </p>
        <p class="text-xs">
          La visibilidad define si el producto puede ser encontrado en la
          búsqueda o no.
        </p>
        <p class="text-xs">
          Las atributos definiarn el contenido del producto. Puedes añadir
          tantos cuantos quieren, aunque todos deben de tener un nombre (El
          nombre de la columna donde quieres que aparezca esta informacion), y
          un valor (El propio contenido del atributo)
        </p>
        <p class="text-xs">
          Todos estos valores pueden ser modificados en cualquier momento.
        </p>
      </div>
      <div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
        <div class="col-span-full sm:col-span-3">
          <label for="name" class="text-sm">Nombre</label>
          <input
            id="name"
            type="text"
            placeholder="Nombre"
            class="w-full rounded-md focus:ring focus:ring-opacity-75"
          />
        </div>
        <div class="col-span-full sm:col-span-3">
          <label for="visibility" class="text-sm">Visibilidad</label>
          <select
            id="visibility"
            class="w-full rounded-md focus:ring focus:ring-opacity-75"
          >
            <option>Publico</option>
            <option>Privado</option>
            <option>Oculto</option>
          </select>
        </div>
      </div>

      <div class="col-span-full">
        <legend>Columnas de la tabla</legend>
        <span
          id="selectorColumnas"
          class="grid grid-cols-2 lg:grid-cols-3 gap-10"
        >
          <div class="contenedorInputLabel max-w-full overflow-hidden">
            <div>
              <input
                type="text"
                class="columna max-w-full"
                id="NombreColumna1"
              />
              <label for="NombreColumna1">Nombre columna 1</label>
            </div>
            <div>
              <input
                type="text"
                class="columna max-w-full"
                id="ValorColumna1"
              />
              <label for="ValorColumna1">Valor columna 1</label>
            </div>
          </div>

          <div class="contenedorInputLabel max-w-full overflow-hidden">
            <div>
              <input
                type="text"
                class="columna max-w-full"
                id="NombreColumna2"
              />
              <label for="NombreColumna2">Nombre columna 2</label>
            </div>
            <div>
              <input
                type="text"
                class="columna max-w-full"
                id="ValorColumna2"
              />
              <label for="ValorColumna2">Valor columna 2</label>
            </div>
          </div>
        </span>
      </div>
      {
        poderEditar && (
          <div class="col-span-full flex justify-center">
            <button
              type="button"
              id="nuevaColumna"
              class="self-center px-8 py-3 rounded bg-gray-300 hover:bg-gray-400 hover:cursor-pointer hidden"
            >
              Añadir mas columnas
            </button>
          </div>
        )
      }
    </fieldset>
  </form>

  {
    poderEditar && (
      <div class="flex items-center justify-center mt-2 ">
        <button
          id="crearColeccion"
          class="self-center px-8 py-3 font-semibold rounded bg-violet-600 hover:bg-violet-700 text-gray-50 hover:cursor-pointer hidden"
        >
          Guardar cambios
        </button>
        <button
          id="editarProducto"
          type="button"
          class="self-center px-8 py-3 font-semibold rounded bg-violet-600 hover:bg-violet-700 text-gray-50 hover:cursor-pointer"
        >
          Editar producto
        </button>
      </div>
    )
  }
</section>

<script>
  import {
    borrarHeader,
    newColumn,
  } from "@crearProducto/CrearProductoScriptComun";
  import { crearDialog } from "@libs/dialog/crearDialog";

  interface interfazProducto {
    name: string;
    userID: number;
    visibility: string;
    columns: string;
  }

  //Seleciono e inicializo lo necesario
  let boton = document.querySelector("#crearColeccion") as HTMLElement;
  let nuevaColumna = document.querySelector("#nuevaColumna") as HTMLElement;
  let selectorColumnas = document.querySelector("#selectorColumnas");
  let collectionName = document.querySelector("#name") as HTMLInputElement;
  let collectionVisibility = document.querySelector(
    "#visibility",
  ) as HTMLSelectElement;
  let editarProducto = document.querySelector("#editarProducto") as HTMLElement;
  let editando = false;

  //Esta funcion crea una nueva columna
  nuevaColumna?.addEventListener("click", (e) => {
    newColumn(editando);
  });

  //Esta funcion selecciona toda la informacion y lo manda al servidor
  async function editProduct() {
    let valido = true;
    let textoError = "";
    let nombre = collectionName.value;
    let cookie = 0; //No puede haber usuario con ID 0;
    let main = document.querySelector("main");
    if (main == null) {
      return;
    }
    if (main.dataset.cookie != null) {
      cookie = Number(main.dataset.cookie);
    }

    let userID = Number(cookie);
    let visibilidad = collectionVisibility.value;

    let columnas: { [key: string]: string } = {};

    let selectorColumnas = document.querySelector("#selectorColumnas");
    let selectorColumnasElementos = selectorColumnas?.querySelectorAll(
      ".contenedorInputLabel",
    );

    if (selectorColumnasElementos == null) {
      return;
    }

    for (
      let contador = 1;
      contador < selectorColumnasElementos?.length + 1;
      contador++
    ) {
      let atributoNombre = document.querySelector("#NombreColumna" + contador);
      let atributoValor = document.querySelector("#ValorColumna" + contador);

      if (atributoNombre == null || atributoValor == null) {
        return;
      }

      let nombre = (atributoNombre as HTMLInputElement).value;
      let valor = (atributoValor as HTMLInputElement).value;

      if (nombre != null && valor != null) {
        //Valido que no haya dos atributos iguales
        if (columnas[nombre] != null) {
          valido = false;
          textoError += "\n No puedes tener dos atributos con el mismo nombre.";
        }
        columnas[nombre] = valor;
      }
    }

    let columnasJSON = JSON.stringify(columnas);

    // Validacion de errores.

    //Reviso que el nombre no sea null
    if (nombre.trim() == "") {
      valido = false;
      textoError += "\n El producto debe de tener un nombre";
    }
    if (nombre.length > 100) {
      valido = false;
      textoError += "\n el nombre de la colección es demasiado largo";
    }
    //Reviso que hayan columnas
    if (columnasJSON == null) {
      valido = false;
      textoError += "\n El producto debe de tener atributos";
    }
    if (columnasJSON.length >= 1000) {
      valido = false;
      textoError +=
        "\n Tienes demasiadas atributos o tienes un atributo cuyo nombre o valor es demasiado largo.";
    }
    if (valido) {
      const response = await fetch("/api/editProduct", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          id: id,
          name: nombre,
          userID: userID,
          visibility: visibilidad,
          cookie: cookie,
          columns: columnasJSON,
        }),
      });
      const result = await response.json();

      if (response.ok) {
        crearDialog("Cambios realizados con exito");
        deshabilitarCampos();
      }
    } else {
      crearDialog(textoError);
    }
  }

  boton?.addEventListener("click", editProduct);

  //Esta funcion selecciona la ID del producto.
  function conseguirID() {
    return document.querySelector("section")?.id;
  }

  let id = conseguirID();

  //Esta funcion recupera los datos del producto
  async function leerProducto() {
    const response = await fetch("/api/readProduct", {
      method: "POST",
      body: JSON.stringify({ id: id }),
    });
    let resultado = await response.json();
    let correcto = resultado.data;

    asignarDatos(correcto);
  }
  //Esta funcion edita todos los campos para que contengan la informacion del proudcto anteriormente recuperada.
  async function asignarDatos(datos: interfazProducto) {
    //Nombre

    collectionName.value = datos.name;

    //Visibilidad

    const todosOptions: HTMLOptionElement[] = Array.from(
      collectionVisibility.options,
    );
    todosOptions.map((e: HTMLOptionElement) => {
      if (e.textContent == datos.visibility) {
        e.selected = true;
      }
    });

    //Columnas
    let columnasOriginal = await JSON.parse(datos.columns);
    let contador = 0;
    for (let iterable of Object.entries(columnasOriginal)) {
      if (!selectorColumnas?.children[contador]) {
        newColumn(editando);
      }

      let contadorAcelerado = contador + 1;

      let nombre = document.querySelector(
        "#NombreColumna" + contadorAcelerado,
      ) as HTMLInputElement;
      let valor = document.querySelector(
        "#ValorColumna" + contadorAcelerado,
      ) as HTMLInputElement;

      if (nombre == null) {
        return;
      }
      if (valor == null) {
        return;
      }

      nombre.value = iterable[0];
      valor.value = iterable[1] as string;

      contador += 1;
    }
  }

  //Ejecuto la funcion de leer producto (Y por lo tanto, la de asignar datos), nada mas encener la pagina.
  leerProducto();

  //Esta funcion deshabilita todos los campos en caso de no estar en modo edición. No es necesario como tal, pero mejora la experiencia de usuario.
  function deshabilitarCampos() {
    editando = false;
    let todosInput = Array.from(document.querySelectorAll("input"));
    let select = document.querySelector("select");

    if (select == null) {
      return;
    }

    todosInput.map((e) => {
      e.disabled = true;
    });

    select.disabled = true;
    editarProducto.style.display = "block";
    boton.style.display = "none";
    nuevaColumna.style.display = "none";
  }

  //Deshabilito todos los campos nada mas iniciar la pagina.

  deshabilitarCampos();

  function habilitarCampos() {
    editando = true;

    let todosInput = Array.from(document.querySelectorAll("input"));
    let select = document.querySelector("select");

    if (select == null) {
      return;
    }

    todosInput.map((e) => {
      e.disabled = false;
    });

    select.disabled = false;
    editarProducto.style.display = "none";
    boton.style.display = "flex";
    nuevaColumna.style.display = "block";
  }

  editarProducto?.addEventListener("click", habilitarCampos);

  //Funcion para borrar un campo si se deja vacio

  selectorColumnas?.addEventListener("focusout", borrarHeader);
</script>
