---
import Buscar from "@components/buscar/Buscar.astro";
import "@styles/global.css";
import { obtenerCookie } from "@libs/auth/controlCookies";
const { idLink } = Astro.props;
//console.log(idLink)


let cookie = obtenerCookie(Astro.cookies?.get('sesion'));



---
<div class="container p-2 mx-auto sm:p-4 text-gray-800">


	<div class="bg-black z-40 fixed top-0 right-0 w-full h-full hidden opacity-30" id="oscurecer"></div>
	<div class="z-40 fixed top-0 right-0 w-full h-full hidden items-center align-middle text-center justify-center" id="panelBuscar">
		<div class="bg-white w-1/2 h-1/2">
			<Buscar idColeccion={idLink}></Buscar>
		</div>
	</div>
	
	<div class="flex justify-between mb-2">
		<h2 class="mb-4 text-2xl font-semibold leading-tight" id="collectionTitle"> TITULO ASTRO</h2>
		{ cookie &&
			<div id="visibilidadContenedor" class="hidden">
				<label for="visibility" class="text-sm">Visibilidad</label>
          	<select
            id="visibility"
            class="w-full rounded-md focus:ring focus:ring-opacity-75"
          	>
            <option>Publico</option>
            <option>Privado</option>
            <option>Oculto</option>
          </select>

			</div>
			<button class="self-center px-8 py-3 font-semibold rounded bg-violet-600 text-gray-50 cursor-pointer hover:bg-violet-700" id="editar">Editar</button>
			<button class="self-center px-8 py-3 font-semibold rounded bg-red-600 text-gray-50 cursor-pointer hidden hover:bg-red-700" id="borrar">Borrar</button>
			<button class="self-center px-8 py-3 font-semibold rounded bg-red-600 text-gray-50 cursor-pointer hidden hover:bg-red-700" id="dejarBorrar">Dejar de borrar</button>
			<button class="self-center px-8 py-3 font-semibold rounded bg-violet-600 text-gray-50 cursor-pointer hidden hover:bg-violet-700" id="terminar">Terminar</button>
		}
	</div>
	<div class="overflow-x-auto flex">
		<div class="grow flex-col" >

			<table class="text-xs *:text-center grow w-full" id="tabla">
				<thead class="bg-gray-300">
					<tr class=" *:p-3" id="trDeThead"></tr>
				</thead>
				<tbody class="*:border-b *:border-opacity-20 *:border-gray-300 *:bg-gray-50">
				</tbody>
			</table>
		<div class="hidden bg-white border-dashed border-black border-3 text-center items-center justify-center text-7xl cursor-pointer" id="crearNuevaFila">+</div>

		</div>
		<div class="hidden bg-white border-dashed border-black border-3 text-center items-center justify-center text-7xl cursor-pointer" id="nuevaColumna">+</div>
	</div>
</div>

<script define:vars={{ idLink, cookie }}>


	console.log(idLink)
	// Defino y selecciono lo necesario
	let tbody = document.querySelector('tbody');
	let editar = document.querySelector('#editar');
	let terminar = document.querySelector('#terminar');
	let titulo = document.querySelector('#collectionTitle');
	let thead = document.querySelector('thead');
	let nuevaColumna = document.querySelector('#nuevaColumna');
	let crearNuevaFila = document.querySelector('#crearNuevaFila');
	let id;
	let panelBuscar = document.querySelector('#panelBuscar');
	let oscurecer = document.querySelector('#oscurecer');
	let tabla = document.querySelector('#tabla')
	let tituloOriginal = document.querySelector('#collectionTitle')?.textContent;
	let columnasOriginal;
	let columnas;
	let resultado;
	let editando = false;
	let borrar = document.querySelector('#borrar')
	let dejarBorrar = document.querySelector('#dejarBorrar')
	let visibilidad = document.querySelector('#visibility')
	let visibilidadContenedor = document.querySelector('#visibility')
	nuevaColumna.addEventListener("click", crearColumna)
	
	readCollection();
	readCollecionProduct();
	editar?.addEventListener("click", activarEditar);
	terminar?.addEventListener("click", terminarEditar);

	crearNuevaFila.addEventListener("click", activarPanelNuevaFila);



//Esta funcion lee la coleccion
async function readCollection() {
		if (tbody == null) return;
		if (titulo == null) return;
		if (thead == null) return;
		if (thead.firstElementChild == null) return;


		const response = await fetch("/api/readSpecificCollection", {
			method: "POST",
			body: JSON.stringify({ idLink: Number(idLink) }),
		});
		resultado = await response.json();
		let correcto = resultado.data
		console.log("RESULTADO!!")
		console.log(resultado.data);

		columnas = JSON.parse(correcto.columns);
		columnasOriginal = JSON.parse(correcto.columns);
		//console.log(columnasOriginal)
		titulo.textContent = correcto.name;
		//Creo colgroups y th segun los datos que hayan.
		for (let i of columnas) {
			let colgroup = document.createElement('colgroup')
			let th = document.createElement('th');
			th.textContent = i;
			thead?.firstElementChild.append(th);
			tbody.firstElementChild?.append(document.createElement('td'));
			tabla.prepend(colgroup);
		}
		id = correcto.id;
		visibility.value=resultado.data.visibility;
	}


	//Esta funcion hace una segunda peticion que mira que productos tiene la coleccion.
	async function readCollecionProduct() {

		//Borro los datos anteriores de la tabla si existen.
		while (tbody.firstChild) {
    	  	tbody.removeChild(tbody.firstChild);
	    }
		// Leo todos los productos de la colección 

		idBien = Number(idLink);

		
		const response = await fetch("/api/readCollectionProducts", {
			method: "POST",
			body: JSON.stringify({ id: idBien }),
		});
		let resultado = await response.json();
		let data = resultado.data;

		console.log(data)
		// Extraer los IDs de producto
		let arrayProductos = [];
		for (let iterable of data) {
			arrayProductos.push(iterable.productID);
		}

		// Obtener los productos completos
		const responseProducts = await fetch("/api/readProductList", {
			method: "POST",
			body: JSON.stringify({ ids: arrayProductos }),
		});
		let resultadoProduct = await responseProducts.json();
		let dataProduct = resultadoProduct.data;

		console.log(resultadoProduct);

		// Rellenar la tabla con los datos
		for (let objetoRaw of dataProduct) {

			console.log(columnas)
			crearTR(objetoRaw.id);
			let objeto = JSON.parse(objetoRaw.columns);
			for (let iterable in objeto) {
				if (columnas.includes(iterable)) {
					let posicion = columnas.indexOf(iterable);
					tbody.lastElementChild?.childNodes[posicion].append(objeto[iterable]);
				}
			}

		}
	}

	
	//Esta funcion activa el modo de edicion
	function activarEditar() {
		if (editar == null) return;
		if (terminar == null) return;
		if (tbody == null) return;
		//muestros los botones correctos
		editando = true;
		editar.style.display = "none";
		nuevaColumna.style.display = "flex"
		crearNuevaFila.style.display = "flex"
		terminar.style.display = "block";
		borrar.style.display = "block";
		visibilidadContenedor.style.display = "block"


		//creo el selector para crear una nueva columna
if (tbody == null) return;
		let tr = document.createElement('tr');
		tr.className = '*:p-3 border-dashed border';
		tr.id = 'nuevaFila'

		//hago que las casillas sean editables
		let todosTD = document.querySelectorAll('td');
		let todosTH = document.querySelectorAll('th');

		for (let iterable of todosTH) {
			iterable.setAttribute("contenteditable", "plaintext-only");
		}
		titulo?.setAttribute("contenteditable", "true");


	}

	// Esta parte del codigo contiene todas las funciones necesarias para permitir la capacidad de borrar elementos.

	let modoBorrar=false
	//Asigna la clase de hover a todos los elementos
	function marcarRojo(){
		let todosTR = tbody.querySelectorAll('tr');
		for (let iterable of todosTR){
			iterable.classList.add("hover:bg-red-500")
		}
	}
	//Quita la clase de hover a todos los elementos
	function desmarcarRojo(){
		let todosTR = tbody.querySelectorAll('tr');
		for (let iterable of todosTR){
			iterable.classList.remove("hover:bg-red-500")
		}
	}
	//Asigna la clase de hover a todos los elementos si presionas alt, estas en el modo edicion pero no en el modo de borrar.
	function seleccionBorrar(e){
		if (!editando){
			return
		}
		if (!e.altKey){
			console.log("No es alt!")
			console.log(e.key)
			return
		}

		e.preventDefault()
		marcarRojo()	
	}

	//borra la clase de hover a todos los elementos si presionas alt, estas en el modo edicion pero no en el modo de borrar.	
	function deshacerSeleccionBorrar(){
		if(modoBorrar){
			return
		}
		desmarcarRojo();
	}

	//Esta funcion borra un elemento
	async function borrarElemento(e){
		if (!editando){
			console.log("No es editando")
			return
		}

		if (!e.target.closest("tr")){
			console.log("no es tr!")
			return
		}
		if (e.target.closest("tr").id=="trDeThead"){
			return
		} 
			//Detecta un click con alt en caso de que estes en modo de edicion pero no en el modo de borrado.
		if (!modoBorrar){
			if (!e.altKey){
				console.log("No es alt!")
				console.log(e.key)
				return
			}
		}

		let id = e.target.closest('tr').id

		

		let objetoAPI = {collectionID: Number(idLink), productID: Number(id)};
		const response = await fetch("/api/deleteCollectionProduct", {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify(objetoAPI),
			});
			console.log(response);
		readCollecionProduct()
	}
	//Activa el modo de borrar
	function activarBorrar(){
		modoBorrar = true
		marcarRojo()
		dejarBorrar.style.display="block";
		borrar.style.display="none"
	}
	//Desactiva el modo de borrar
	function desactivarBorrar(){
		modoBorrar = false
		desmarcarRojo()
		dejarBorrar.style.display="none";
		borrar.style.display="block"
	}

	document.addEventListener("click", borrarElemento)
	document.addEventListener("keydown", seleccionBorrar)
	document.addEventListener("keyup", deshacerSeleccionBorrar)

	borrar.addEventListener("click", activarBorrar)
	dejarBorrar.addEventListener("click", desactivarBorrar)



	//Desactivo el modo de editar. Al desactivarlo, ademas se guardan los datos en la base de datos
	async function terminarEditar() {

		if (editar == null) return;
		if (terminar == null) return;
		if (tbody == null) return;

		modoBorrar = false
		desmarcarRojo()
		dejarBorrar.style.display="none";
		borrar.style.display="block"
		visibilidadContenedor.style.display="none"

		editando = false;

		let data = { id: Number(idLink) };
		let nuevaColumnas = [];
		if (thead == null || thead.firstElementChild == null || thead.firstElementChild.childNodes == null) return;

		for (let iterable of thead.firstElementChild.childNodes) {
			nuevaColumnas.push(iterable.textContent);
		}

		if (JSON.stringify(nuevaColumnas) != JSON.stringify(columnasOriginal)) {
			data.columns = JSON.stringify(nuevaColumnas);
		}

		if (titulo?.textContent != tituloOriginal) {
			data.name = titulo?.textContent;
		}

		if (visibility.value=="Privado" || visibility.value == "Publico" || visibility.value == "Oculto"){
			data.visibility = visibility.value;
		}


		//mirar si el usuario esta loggeado
		if (cookie){
			data.cookie = Number(cookie);


			const response = await fetch("/api/editCollection", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			});
		}

		columnas = nuevaColumnas;
		console.log("EDITADO!");
		console.log(columnas)

		//muestros los botones correctos
		editar.style.display = "flex";
		nuevaColumna.style.display = "none"
		crearNuevaFila.style.display = "none"
		terminar.style.display = "none";
		borrar.style.display = "none"






//Releo el contenido de la coleccion y lo regenero.

readCollecionProduct()

//Borro el contenteditable de los TH, no hace falta hacerlo de los tds porque esto ya se borran al ser regenerado.

	let todosTH = document.querySelectorAll('th');
		for (let iterable of todosTH) {
			iterable.setAttribute("contenteditable", "false");
		}
		//Hago lo mismo para el titulo
		titulo?.setAttribute("contenteditable", "false");

	}
	//Esta funcion es una funcion de apoyo. Crea un TR
	function crearTR(id) {

		if (tbody == null) return;
		let tr = document.createElement('tr');
		tr.className = '*:p-3';
		tr.id = id
		//leo cuantas columnas crear para para determinar cuantos TD crear.
		let numeroTD = thead.lastElementChild?.childElementCount;
		console.log(numeroTD)
		if (numeroTD == null) return;
		for (let i = 0; i < numeroTD; i++) {
			let td = document.createElement('td');
			tr.append(td);

		}
			tbody.append(tr);

	}

	//Funcion asistente al igual que la anterior, crea una nueva columna
	function crearColumna() {
		if (tbody == null || thead == null) return;
		let colgroup = document.createElement('colgroup')
		let th = document.createElement('th');
		th.textContent = "nueva Columna"
		//Si estoy en el modo de edicion, hago que el titulo sea editable.
		if (editando){
			th.setAttribute("contenteditable", "plaintext-only");
		}
		thead.querySelector('tr').append(th);
		//Reviso cuantos TR hay para saber cuantos TD crear.
		let lista = tbody.querySelectorAll('tr')
		for (let iterable of lista){
			//Si estoy en el modo de edicion, hago que las casillas sean editables.
			let td = document.createElement('td');
			//console.log(iterable);
			iterable.append(td)
		}
		tabla.prepend(colgroup)
		
	}
	//Esta funcion se ejecuta al activar el modo de editar y muestra la interfaz para crear una nueva fila
		function activarPanelNuevaFila(){
		oscurecer.style.display="flex"
		panelBuscar.style.display="flex"
	
	}
	//Funcion delegada para desactivar buscar si clicas fuera.
	
	function desactivarPanelNuevaFila(){
	oscurecer.style.display="none"
	panelBuscar.style.display="none"	
	}

	function detectarClickNuevaFila(e){
		if (!panelBuscar.style.display=="flex"){
			return
		}
		console.log(e.target)
		if(e.target.closest('#panelBuscar')){
			desactivarPanelNuevaFila()
		}	
	}

	document.addEventListener("click", detectarClickNuevaFila)

	//Detecta cuando se cierra un dialog para regenerar la tabla. Normalmente se activa despues de confirmar los cambios a la tabla y leer la confirmacion.
	document.addEventListener('dialogo-cerrado', () => {
		readCollecionProduct(); // o la función que regenera la tabla
	});
	
//Funcion que detecta cuando has dejado el TH de una columna en blanco para borarla
thead.addEventListener("focusout", borrarHeader)

function borrarHeader(e){
	if (e.target.textContent.trim()==""){
		console.log("Hola!")
		console.log(e.target.textContent)
		console.log(e.target)
		console.log(Array.from(thead.children[0].children))
		console.log(Array.from(thead.children[0].children).indexOf(e.target))
		let posicion = Array.from(thead.children[0].children).indexOf(e.target)
		e.target.remove()


		let todosTR = Array.from(tbody.querySelectorAll('tr'));
		todosTR.map(e => {
			e.children[posicion].remove()
		})
	}
}

document.addEventListener("click", eventoDelegado)



</script>