---
import Buscar from "@components/buscar/Buscar.astro";
import "@styles/global.css";
import { obtenerCookie } from "@libs/auth/controlCookies";
const { idLink } = Astro.props;
//console.log(idLink)


let cookie = obtenerCookie(Astro.cookies?.get('sesion'));



---
<div class="container p-2 mx-auto sm:p-4 dark:text-gray-800">


	<div class="bg-black z-40 fixed top-0 right-0 w-full h-full hidden opacity-30" id="oscurecer"></div>
	<div class="z-40 fixed top-0 right-0 w-full h-full hidden items-center align-middle text-center justify-center" id="panelBuscar">
		<div class="bg-white w-1/2 h-1/2">
			<Buscar idColeccion={idLink}></Buscar>
		</div>
	</div>
	
	<div class="flex justify-between">
		<h2 class="mb-4 text-2xl font-semibold leading-tight" id="collectionTitle"> TITULO ASTRO</h2>
		{ cookie &&

			<button class="self-center px-8 py-3 font-semibold rounded dark:bg-violet-600 dark:text-gray-50 cursor-pointer" id="editar">Edit</button>
			<button class="self-center px-8 py-3 font-semibold rounded dark:bg-violet-600 dark:text-gray-50 cursor-pointer hidden" id="terminar">Finish</button>
		}
	</div>
	<div class="overflow-x-auto flex">
		<div class="grow flex-col" >

			<table class="text-xs *:text-center grow w-full" id="tabla">
				<thead class="dark:bg-gray-300">
					<tr class=" *:p-3"></tr>
				</thead>
				<tbody class="*:border-b *:border-opacity-20 *:dark:border-gray-300 *:dark:bg-gray-50">
				</tbody>
			</table>
		<div class="hidden bg-white border-dashed border-black border-3 text-center items-center justify-center text-7xl cursor-pointer" id="crearNuevaFila">+</div>

		</div>
		<div class="hidden bg-white border-dashed border-black border-3 text-center items-center justify-center text-7xl cursor-pointer" id="nuevaColumna">+</div>
	</div>
</div>

<script define:vars={{ idLink, cookie }}>

	console.log(idLink)
	// Selectores
	let tbody = document.querySelector('tbody');
	let editar = document.querySelector('#editar');
	let terminar = document.querySelector('#terminar');
	let titulo = document.querySelector('#collectionTitle');
	let thead = document.querySelector('thead');
	let nuevaColumna = document.querySelector('#nuevaColumna');
	let crearNuevaFila = document.querySelector('#crearNuevaFila');
	let id;
	let panelBuscar = document.querySelector('#panelBuscar');
	let oscurecer = document.querySelector('#oscurecer');
	let tabla = document.querySelector('#tabla')
	let tituloOriginal = document.querySelector('#collectionTitle')?.textContent;
	let columnasOriginal;
	let columnas;
	let resultado;
	nuevaColumna.addEventListener("click", crearColumna)
	
	readProduct();
	readCollecionProduct();
	editar?.addEventListener("click", activarEditar);
	terminar?.addEventListener("click", terminarEditar);

	crearNuevaFila.addEventListener("click", activarPanelNuevaFila);




async function readProduct() {
		if (tbody == null) return;
		if (titulo == null) return;
		if (thead == null) return;
		if (thead.firstElementChild == null) return;


		const response = await fetch("/api/readSpecificCollection", {
			method: "POST",
			body: JSON.stringify({ idLink: Number(idLink) }),
		});
		resultado = await response.json();
		let correcto = resultado.data
		console.log("RESULTADO!!")
		console.log(resultado.data);

		columnas = JSON.parse(correcto.columns);
		columnasOriginal = JSON.parse(correcto.columns);
		//console.log(columnasOriginal)
		titulo.textContent = correcto.name;

		for (let i of columnas) {
			let colgroup = document.createElement('colgroup')
			let th = document.createElement('th');
			th.textContent = i;
			thead?.firstElementChild.append(th);
			tbody.firstElementChild?.append(document.createElement('td'));
			tabla.prepend(colgroup);
		}
		id = correcto.id;
	}



	async function readCollecionProduct() {
		// Leo todos los productos de la colección 

		idBien = Number(idLink);

		
		const response = await fetch("/api/readCollectionProducts", {
			method: "POST",
			body: JSON.stringify({ id: idBien }),
		});
		let resultado = await response.json();
		let data = resultado.data;

		console.log(data)
		// Extraer los IDs de producto
		let arrayProductos = [];
		for (let iterable of data) {
			arrayProductos.push(iterable.productID);
		}

		// Obtener los productos completos
		const responseProducts = await fetch("/api/readProduct", {
			method: "POST",
			body: JSON.stringify({ ids: arrayProductos }),
		});
		let resultadoProduct = await responseProducts.json();
		let dataProduct = resultadoProduct.data;

		console.log(resultadoProduct);

		// Rellenar la tabla con los datos
		for (let objetoRaw of dataProduct) {

			console.log(dataProduct);

			//console.log("Me ejcuto!!")
			console.log(columnas)
			crearTR();
			let objeto = JSON.parse(objetoRaw.columns);
			for (let iterable in objeto) {
				if (columnas.includes(iterable)) {
					let posicion = columnas.indexOf(iterable);
					tbody.lastElementChild?.childNodes[posicion].append(objeto[iterable]);
				}
			}

		}
	}

	

	function activarEditar() {
		if (editar == null) return;
		if (terminar == null) return;
		if (tbody == null) return;
		//muestros los botones correctos
		editar.style.display = "none";
		nuevaColumna.style.display = "flex"
		crearNuevaFila.style.display = "flex"
		terminar.style.display = "block";



		//creo el selector para crear una nueva columna
if (tbody == null) return;
		let tr = document.createElement('tr');
		tr.className = '*:p-3 border-dashed border';
		tr.id = 'nuevaFIla'

		//hago que las casillas sean editables
		let todosTD = document.querySelectorAll('td');
		let todosTH = document.querySelectorAll('th');

		for (let iterable of todosTD) {
			iterable.setAttribute("contenteditable", "true");
		}
		for (let iterable of todosTH) {
			iterable.setAttribute("contenteditable", "true");
		}
		titulo?.setAttribute("contenteditable", "true");
	}

	async function terminarEditar() {

		if (editar == null) return;
		if (terminar == null) return;
		if (tbody == null) return;

		let data = { id: Number(idLink) };
		let nuevaColumnas = [];
		if (thead == null || thead.firstElementChild == null || thead.firstElementChild.childNodes == null) return;

		for (let iterable of thead.firstElementChild.childNodes) {
			nuevaColumnas.push(iterable.textContent);
		}

		if (JSON.stringify(nuevaColumnas) != JSON.stringify(columnasOriginal)) {
			data.columns = JSON.stringify(nuevaColumnas);
		}

		if (titulo?.textContent != tituloOriginal) {
			data.name = titulo?.textContent;
		}

		//mirar si el usuario esta loggeado
		if (cookie){
			data.cookie = Number(cookie);


			const response = await fetch("/api/editCollection", {
				method: "POST",
				headers: {
					"Content-Type": "application/json",
				},
				body: JSON.stringify(data),
			});
		}

		columnas = nuevaColumnas;
		console.log("EDITADO!");
		console.log(columnas)

		//muestros los botones correctos
		editar.style.display = "flex";
		nuevaColumna.style.display = "none"
		crearNuevaFila.style.display = "none"
		terminar.style.display = "none";




		//Borro los datos anteriores
		    while (tbody.firstChild) {
      tbody.removeChild(tbody.firstChild);
    }



readCollecionProduct()








	}

	function crearTR() {

		if (tbody == null) return;
		let tr = document.createElement('tr');
		tr.className = '*:p-3';

		let numeroTD = thead.lastElementChild?.childElementCount;
		console.log(numeroTD)
		if (numeroTD == null) return;
		for (let i = 0; i < numeroTD; i++) {
			let td = document.createElement('td');
			tr.append(td);
		}
				tbody.append(tr);

	}
	function crearColumna() {
		if (tbody == null || thead == null) return;
		let colgroup = document.createElement('colgroup')
		let th = document.createElement('th');
		th.textContent = "nueva Columna"
		thead.querySelector('tr').append(th);
		let lista = tbody.querySelectorAll('tr')
		for (let iterable of lista){
			let td = document.createElement('td');
			//console.log(iterable);
			iterable.append(td)
		}
		tabla.prepend(colgroup)
		
	}

		function activarPanelNuevaFila(){
		oscurecer.style.display="flex"
		panelBuscar.style.display="flex"
	
	}

	async function eventoDelegado(e) {
    if (e.target == null) {
      console.log("regreso en e.target")
      return;
    }
    console.log(e.target.id);
    if (e.target.id != "cerrarDialog") {
      console.log("regreso en meterColeccion")

      return;
    }
	readCollecionProduct();
	
}
	

document.addEventListener("click", eventoDelegado)

</script>