---
import Layout from '@layouts/Layout.astro';
import Tabla from '@coleccion/ColeccionTabla.astro';
import { obtenerCookie } from '@libs/auth/controlCookies';

const {name, id, visibility} = Astro.params



let mostrar = true
let cookie = await obtenerCookie(Astro.cookies?.get('sesion'));
//Reviso los datos de la coleccion para poder determinar si puedes ver la pagina o no.
const url = new URL('/api/readCollectionVisibility', Astro.url);
	try{

		const response = await fetch(url, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
			},
			body: JSON.stringify({
				id: Number(id)
			}),
		});
		let respuesta = await response.json();
		
		console.log(respuesta.data.visibility)
		
		if (respuesta.data.visibility == "Privado"){
			if(respuesta.data.userID!=cookie){
				console.log("naynay!")
				mostrar=false
			}
			else{
				console.log("Bieeen!")
			}
		}
	}
	catch(error){
		console.error(error)
	}


console.log(id);



---

<Layout>
	{ mostrar==true &&

	<Tabla idLink={id}/>
	}
	{!mostrar==true &&
		<div>No tienes permiso para ver esta coleccion </div>
	}

</Layout>

