---
import "@styles/global.css";
import GeneralNav from "@general/GeneralNav.astro";
import FooterBonito from "@general/GeneralFooter.astro"
import { obtenerCookie } from "@libs/auth/controlCookies";
import GeneralHeader from "@general/GeneralHeader.astro";
const { titulo } = Astro.props;

        let cookie = await obtenerCookie(Astro.cookies?.get("sesion"));
---
<!doctype html>
<html lang="ea">
    <GeneralHeader titulo={titulo}></GeneralHeader>

	<body class="min-h-screen flex flex-col">
        <GeneralNav>

        </GeneralNav>
        <main data-cookie={cookie} class="flex-1">
            <slot />
        </main>
        <FooterBonito>

        </FooterBonito>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
	}
    header{
        grid-column: 1/-1;
        grid-row: 1;
    }
    main{
        grid-column: 1/-1;
        grid-row: 2;
    }
    footer{
        grid-column: 1/-1;
        grid-row: 3;
    }
    
</style>
