---
import "@styles/global.css";
import NavBonito from "@general/NavBonito.astro";
import FooterBonito from "@general/FooterBonito.astro"
import { obtenerCookie } from "../libs/auth/controlCookies";

        let cookie = await obtenerCookie(Astro.cookies?.get("sesion"));
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
    <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>
	</head>
	<body>
        <NavBonito>

        </NavBonito>
        <main data-cookie={cookie}>
            <slot />
        </main>
        <FooterBonito>

        </FooterBonito>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
	}
    header{
        grid-column: 1/-1;
        grid-row: 1;
    }
    main{
        grid-column: 1/-1;
        grid-row: 2;
    }
    footer{
        grid-column: 1/-1;
        grid-row: 3;
    }
    
</style>
