---
const { idUsuario = 1, idColeccion } = Astro.props;
---

<div
  class="flex flex-col justify-center content-center items-center"
  data-idcoleccion={idColeccion}
  id="contenedorBuscar"
>
  <div class="text-5xl flex justify-center">Categoria</div>
  <div class="flex w-full justify-around">
    <div id="selectorProducto">Producto</div>
    <div id="selectorColeccion">Colecion</div>
  </div>

  <div class="text-5xl flex justify-center">Buscar:</div>

  <input id="buscar" type="text" class="w-1/2" />

  <div class="text-5xl flex justify-center">Resultados</div>

  <div
    id="contenedorTarjetas"
    class="*:border *:border-solid *:border-red-900 grid grid-cols-1 w-1/2 gap-2"
  >
  </div>
</div>

<script>
  import type { any } from "astro:schema";
  import { crearDialog } from "../../libs/dialog/crearDialog";
import type Login from "../../pages/login.astro";

  let tipo = "producto";
  let selectorProducto = document.querySelector("#selectorProducto");
  let selectorColeccion = document.querySelector("#selectorColeccion");

  if (selectorProducto != null) {
    selectorProducto.addEventListener("click", seleccionarProducto);
  }
  if (selectorColeccion != null) {
    selectorColeccion.addEventListener("click", seleccionarColeccion);
  }

  function seleccionarProducto() {
    tipo = "producto";
  }
  function seleccionarColeccion() {
    tipo = "coleccion";
  }

  let contenedor = document.querySelector("#contenedorTarjetas");
  let buscar = document.querySelector("#buscar") as HTMLInputElement;
  buscar?.addEventListener("change", buscarElementos);
  function buscarElementos() {
    readProduct();
  }

  async function readProduct() {
    if (buscar == null) {
      return;
    }
    if (buscar.value == null) {
      return;
    }
    let textoBuscado = buscar.value;
    let resultado;

    console.log("HOLAAAAAAAAAAAA " + textoBuscado);

    if (textoBuscado.length <= 0) {
      return;
    }

    if (tipo == "producto") {
      const response = await fetch("/api/readProductSearch", {
        method: "POST",
        body: JSON.stringify({
          text: textoBuscado,
        }),
      });
      resultado = await response.json();
      console.log(resultado.data);
    } else if (tipo == "coleccion") {
      const response = await fetch("/api/readCollectionSearch", {
        method: "POST",
        body: JSON.stringify({
          text: textoBuscado,
        }),
      });
      resultado = await response.json();
      console.log("estas coleccionando!!!!!!!!");
      console.log(resultado.data);
    }

    //borro los resultados antiguos

    if (contenedor == null) {
      return;
    }

    while (contenedor.firstChild) {
      contenedor.removeChild(contenedor.firstChild);
    }
    resultado.data.map((e: any) => {
      console.log(e);
      //creo el enlace
      let a = document.createElement("a");

      // if (tipo == "producto") {
      //   a.href = "/p/" + e.name + "-" + e.id + "-" + e.visibility;
      // } else if (tipo == "coleccion") {
      //   a.href = "/s/" + e.name + "-" + e.id + "-" + e.visibility;
      // }

      //busco donde esta la ocurriencia del texto buscado
      let posicion = e.name.search(textoBuscado);

      //creo un span y le pongo el texto encontrado dentro del span con otro color de texto.
      let span = document.createElement("span");
      span.classList.add("text-red-300");
      span.textContent = textoBuscado;

      let nuevoTexto = e.name.slice(posicion, posicion + textoBuscado.length);
      let parte1 = e.name.slice(0, posicion);
      let parte2 = e.name.slice(posicion + nuevoTexto.length);

      console.log("parte1 " + parte1);
      console.log("parte2 " + parte2);

      console.log("nombre! " + e.name);
      console.log(posicion);
      console.log("textoBuscado! " + textoBuscado);

      console.log(nuevoTexto);

      //creo varios div con el nombre, con la parte encontrada en rojo
      let entradilla = document.createElement("span");
      let span1 = document.createElement("span");
      let span2 = document.createElement("span");
      let span3 = document.createElement("span");

      entradilla.textContent = "Nombre: ";
      span1.textContent = parte1;
      span2.textContent = nuevoTexto;
      span3.textContent = parte2;

      span2.classList.add("text-red-400");

      let texto = document.createElement("div");
      texto.append(entradilla, span1, span2, span3);

      a.append(texto);
      a.style.display = "flex";
      a.style.justifyContent = "space-around";
      a.id = e.id;

      let button = document.createElement("button");
      button.type = "button";
      button.textContent = "hola";
      button.id = "meterColeccion";
      button.classList.add("self-center", "px-8", "py-3", "font-semibold", "rounded", "dark:bg-violet-600", "dark:text-gray-50")

      a.append(button);
      contenedor?.append(a);
    });
  }

  async function eventoDelegado(e: any) {
    if (e.target == null) {
      console.log("regreso en e.target")
      return;
    }
    console.log(e.target.id);
    if (e.target.id != "meterColeccion") {
      console.log("regreso en meterColeccion")

      return;
    }
    let contenedorBuscar = document.querySelector(
      "#contenedorBuscar",
    ) as HTMLInputElement;
    if (contenedorBuscar == null) {
        console.log("regreso en contenedorBuscar")

      return;
    }
    if (contenedorBuscar.dataset == null) {
        console.log("regreso en contenedorBuscar dataset")

      return;
    }
    if (contenedorBuscar.dataset.idcoleccion == null) {
        console.log("regreso en contenedorBuscar dataset idcoleccion")

      return;
    }

    let idColeccion = contenedorBuscar.dataset.idcoleccion;

    console.log("idcoleccion = "+idColeccion)

    e.preventDefault();
    e.stopPropagation();
    let id = e.target.closest("a").id;
    if (idColeccion) {
      const response = await fetch("/api/newCollectionProduct", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          productID: Number(id),
          collectionID: Number(idColeccion),
        }),
      });
      console.log(response);
      const result = await response.json();
      console.log("Response data:", result);
      if (response.ok) {
        crearDialog("Producto añadido a la coleccion exitosamente");
      }
    }
  }

  document.addEventListener("click", eventoDelegado);
</script>
