---
const { idUsuario = 1, idColeccion } = Astro.props;
---

<div
  class="flex flex-col justify-center content-center items-center"
  data-idcoleccion={idColeccion}
  id="contenedorBuscar"
>
  <div class="text-5xl flex justify-center">Categoria</div>
  <div class="flex w-full justify-around">
    <div
      id="selectorProducto"
      class="self-center px-8 py-3 rounded font-semibold dark:bg-violet-600 dark:text-gray-50"
    >
      Producto
    </div>
    <div
      id="selectorColeccion"
      class="self-center px-8 py-3 rounded bg-gray-300"
    >
      Coleccion
    </div>
  </div>

  <div class="text-5xl flex justify-center">Buscar:</div>

  <input id="buscar" type="text" class="w-1/2" />

  <div class="text-5xl flex justify-center">Resultados</div>

  <div class="cargar hidden">
    <svg
      aria-hidden="true"
      class="w-8 h-8 text-neutral-tertiary animate-spin fill-black"
      viewBox="0 0 100 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor"></path>
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill"></path>
    </svg>
    <span class="sr-only">Loading...</span>
  </div>

  <div id="mensajeError"></div>

  <div
    id="contenedorTarjetas"
    class="*:border *:border-solid *:border-red-900 grid grid-cols-1 w-1/2 gap-2"
  >
  </div>
</div>

<script>
  import { crearDialog } from "@libs/dialog/crearDialog";

  interface interfazBusqueda {
    name: string;
    id: string;
    visibility: string;
  }

  let cargar = document.querySelector(".cargar") as HTMLElement;

  let mensajeError = document.querySelector("#mensajeError") as HTMLElement;
  let tipo = "producto";
  let selectorProducto = document.querySelector("#selectorProducto");
  let selectorColeccion = document.querySelector("#selectorColeccion");

  if (selectorProducto != null) {
    selectorProducto.addEventListener("click", seleccionarProducto);
  }
  if (selectorColeccion != null) {
    selectorColeccion.addEventListener("click", seleccionarColeccion);
  }

  function seleccionarProducto() {
    tipo = "producto";
    selectorProducto?.classList.add(
      "font-semibold",
      "dark:bg-violet-600",
      "dark:text-gray-50",
    );
    selectorColeccion?.classList.remove(
      "font-semibold",
      "dark:bg-violet-600",
      "dark:text-gray-50",
    );
    selectorColeccion?.classList.remove(
      "font-semibold",
      "dark:bg-violet-600",
      "dark:text-gray-50",
    );
    selectorColeccion?.classList.add("bg-gray-300");
  }
  function seleccionarColeccion() {
    tipo = "coleccion";
    selectorColeccion?.classList.add(
      "font-semibold",
      "dark:bg-violet-600",
      "dark:text-gray-50",
    );
    selectorProducto?.classList.remove(
      "font-semibold",
      "dark:bg-violet-600",
      "dark:text-gray-50",
    );
    selectorProducto?.classList.add("bg-gray-300");
  }

  let contenedor = document.querySelector("#contenedorTarjetas");
  let buscar = document.querySelector("#buscar") as HTMLInputElement;
  buscar?.addEventListener("change", buscarElementos);
  function buscarElementos() {
    readProduct();
  }

  async function readProduct() {
    if (buscar == null) {
      return;
    }
    if (buscar.value == null) {
      return;
    }
    let textoBuscado = buscar.value;
    let resultado;

    console.log("HOLAAAAAAAAAAAA " + textoBuscado);

    if (textoBuscado.length <= 0) {
      return;
    }

    if (contenedor == null) {
      return;
    }
    mensajeError.textContent = "";
    cargar.style.display = "block";
    if (tipo == "producto") {
      const response = await fetch("/api/readProductSearch", {
        method: "POST",
        body: JSON.stringify({
          text: textoBuscado,
        }),
      });
      resultado = await response.json();
      console.log(resultado.data);
    } else if (tipo == "coleccion") {
      const response = await fetch("/api/readCollectionSearch", {
        method: "POST",
        body: JSON.stringify({
          text: textoBuscado,
        }),
      });
      resultado = await response.json();
      console.log("estas coleccionando!!!!!!!!");
      console.log(resultado.data);
    }

    if (resultado.data.length == 0) {
      console.log("RESULTADO ES 0");
      mensajeError.textContent =
        "No se ha encontrado ningun elemento que coincida con el termino buscado.";
    }
    console.log("LENGTH " + resultado.data.length);

    //borro los resultados antiguos

    while (contenedor.firstChild) {
      contenedor.removeChild(contenedor.firstChild);
    }
    resultado.data.map((e: interfazBusqueda) => {
      console.log(e);
      //creo el enlace
      let a = document.createElement("a");

      if (tipo == "producto") {
        a.href = "/p/" + e.name + "-" + e.id + "-" + e.visibility;
      } else if (tipo == "coleccion") {
        a.href = "/s/" + e.name + "-" + e.id + "-" + e.visibility;
      }

      //busco donde esta la ocurriencia del texto buscado
      let posicion = e.name.search(textoBuscado);

      //creo un span y le pongo el texto encontrado dentro del span con otro color de texto.
      let span = document.createElement("span");
      span.classList.add("text-red-300");
      span.textContent = textoBuscado;

      let nuevoTexto = e.name.slice(posicion, posicion + textoBuscado.length);
      let parte1 = e.name.slice(0, posicion);
      let parte2 = e.name.slice(posicion + nuevoTexto.length);

      console.log("parte1 " + parte1);
      console.log("parte2 " + parte2);

      console.log("nombre! " + e.name);
      console.log(posicion);
      console.log("textoBuscado! " + textoBuscado);

      console.log(nuevoTexto);

      //creo varios div con el nombre, con la parte encontrada en rojo
      let entradilla = document.createElement("span");
      let span1 = document.createElement("span");
      let span2 = document.createElement("span");
      let span3 = document.createElement("span");

      entradilla.textContent = "Nombre: ";
      span1.textContent = parte1;
      span2.textContent = nuevoTexto;
      span3.textContent = parte2;

      span2.classList.add("text-red-400");

      let texto = document.createElement("div");
      texto.append(entradilla, span1, span2, span3);

      a.append(texto);
      a.style.display = "flex";
      a.style.justifyContent = "space-around";
      a.id = e.id;

      let button = document.createElement("button");
      button.type = "button";
      button.textContent = "hola";
      button.id = "meterColeccion";
      button.classList.add(
        "self-center",
        "px-8",
        "py-3",
        "font-semibold",
        "rounded",
        "dark:bg-violet-600",
        "dark:text-gray-50",
      );

      a.append(button);
      contenedor?.append(a);
    });
    //Oculto el spinner
    cargar.style.display = "none";
  }

  async function eventoDelegado(e: Event) {
    let elementoBuscado: HTMLElement = (e.target as HTMLElement);
    if (elementoBuscado == null) {
      console.log("regreso en e.target");
      return;


    }
    console.log(elementoBuscado.id);
    if (elementoBuscado.id != "meterColeccion") {
      console.log("regreso en meterColeccion");

      return;
    }
    let contenedorBuscar = document.querySelector(
      "#contenedorBuscar",
    ) as HTMLInputElement;
    if (contenedorBuscar == null) {
      console.log("regreso en contenedorBuscar");

      return;
    }
    if (contenedorBuscar.dataset == null) {
      console.log("regreso en contenedorBuscar dataset");

      return;
    }
    if (contenedorBuscar.dataset.idcoleccion == null) {
      console.log("regreso en contenedorBuscar dataset idcoleccion");

      return;
    }

    let idColeccion = contenedorBuscar.dataset.idcoleccion;

    console.log("idcoleccion = " + idColeccion);

    e.preventDefault();
    e.stopPropagation();


    let a = elementoBuscado.closest("a");
    if (a==null){
      return
    }


    let id = a.id;
    if (idColeccion) {
      const response = await fetch("/api/newCollectionProduct", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          productID: Number(id),
          collectionID: Number(idColeccion),
        }),
      });
      console.log(response);
      const result = await response.json();
      console.log("Response data:", result);
      if (response.ok) {
        crearDialog("Producto añadido a la coleccion exitosamente");
      }
    }
    let panelBuscar = document.querySelector("#panelBuscar") as HTMLElement;
    let oscurecer = document.querySelector("#oscurecer") as HTMLElement;
    if (oscurecer == null) {
      return;
    }
    if (panelBuscar == null) {
      return;
    }
    oscurecer.style.display = "none";
    panelBuscar.style.display = "none";
  }

  document.addEventListener("click", eventoDelegado);
</script>
